	.container{
		margin: 100px;
	}
	.list-group{
		width: 400px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.pagination a {
		color: black;
		padding: 8px 16px;
		text-decoration: none;
	}

	.pagination a.selected-page {
		padding: 8px 16px;
		background-color: green;
		color: white;
	}

	.pagination a:hover:not(.selected-page) {
		background-color: #ddd;
	}
	h2{
		text-align: center;
		margin: 10px;
	}
	p{
		text-align: center
	}
	.pagination {
		display: block;
		width:  auto;
		text-align: center;
		margin: 10px;
	}